name: example
publish_to: "none"
environment:
  sdk: ^3.10.0
dependencies:
  flutter:
    sdk: flutter
  flutter_styled:
    path: ../
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
flutter:
  uses-material-design: true